@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  margin: 0;
  padding: 0;

  /* list-style: none; */
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/pexels-photo-10526919.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Itim', cursive;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

input {
  border: 2px solid black;
  padding: 5px;
  width: 300px;
  border-radius: 3px;
}

button {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: white;
  box-shadow: black 5px 5px 0 -3px;
}

form button {
  align-self: flex-end;
}

h1 {
  padding: 20px;
}

.separator {
  width: 150px;
  border: 2px solid black;
  margin: 10px 0;
}

ul {
  max-height: calc(100% - 288px);
  width: calc(100% - 50px);
  min-height: 100px;
  list-style: none;
  border: 3px solid black;
  overflow-y: auto;
}

li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

ul > li:nth-child(odd) {
  background-color: rgb(217, 217, 217);
}

li span {
  margin-right: 4px;
}
